<!doctype html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Arbaaz's Blog</title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBAR" >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">Arbaaz's Blog</a>
    </div>
    <div class="collapse navbar-collapse" id="navBAR">
        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="https://github.com/arbaaz-abz/">GitHub</a></li>
          <li><a href="https://facebook.com/ArbaazABZ/">Facebook</a></li>
          <li><a href="https://soundcloud.com/theabzmusic/">SoundCloud</a></li>
          <li><a href="https://youtube.com/DmArbaaz/">YouTube</a></li>
        </ul>
    </div>
  </div>
</nav>
<center>
<div class="container">
    <h1><strong><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></strong></h1>
    <strong>POSTED ON : <span class="glyphicon glyphicon-time" aria-hidden="true"></span>{{ post.pub_date }}</strong><br><br>
    <img src="/pics/{{ post.image }}" /> <br><br>
    <strong> {{ post.body }}</strong><br><br>
    <h3 align="center"><strong><a href="#top">TOP</a></strong></h3>
    
    <div id="disqus_thread"></div>
        <script>



        var disqus_config = function () {
        this.page.identifier = 'post-{{ post.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//arbaaz-abz.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


      </div>
                            
</div>
</center>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
